@font-face {
  font-family: 'Little Brushy';
  font-weight: bold;
  src: url("../fonts/Little Brushy.otf") format("opentype");
}
html, body {
  height: 100%;
  margin:0px;
  background: url('https://i.imgur.com/4IHJl65.jpg');
  background-size: cover;
  background-position: bottom center;
  color: #FFF;
}
.main {
  height: 100%;
  width: 100%;
  display: table;
}
.wrapper {
  padding: 0px 5% !important;
  display: table-cell;
  text-align: center;
  height: 100%;
  font-size: 8em;
  font-family: 'Little Brushy', sans;
  vertical-align: middle;
}

::-moz-selection { /* Code for Firefox */
  color: #33bb77;
  background: rgba(0, 0, 0, 0);
}

::selection {
  color: #33bb77;
  background: rgba(0, 0, 0, 0);
}

.wrapper span:nth-child(1n){ color: #d62e48; }
.wrapper span:nth-child(2n){ color: #f4762b; }
.wrapper span:nth-child(3n){ color: #e34690; }
.wrapper span:nth-child(4n){ color: #333134; }
.wrapper span:nth-child(5n){ color: #443771; }
.wrapper span:nth-child(6n){ color: #009fe1; }
.wrapper span:nth-child(7n){ color: #6e353c; }
.wrapper span:nth-child(8n){ color: #4faf32; }
.wrapper span:nth-child(9n){ color: #e8c207; }
.wrapper span:nth-child(10n){ color: #20b890; }

@media only screen and (max-width: 600px) {
    .wrapper {
        font-size:: 5em;
    }
}